div(class="container")
    div(class="row")
        h1 Test Rootstack
    div(class="row")
        div(class="input-group col-md-12 box-search")
            input(type="text"  typeahead-on-select="searchState($item)"  data-ng-model="countryName" uib-typeahead="country.name for country in countries  | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search")
        h3(data-ng-if="states.length > o") states of {{ countryName }}
    div(class="row" data-ng-hide="states.length > 0")
        h1 not found states for this country
    div(class="row states" data-ng-show="states.length > 0")
        div(class="col-md-4")
            ul
                li(data-ng-repeat="state in states track by $index")
                    div(ng-bind="state.name" data-ng-click="selectState(state)")
        div(class="col-md-8")
            div(id="map")
    div(class="row expectancy" data-ng-if="countryName")
        h3 Expectativa de vida en la {{ countryName }}
        h4 Mujer
        span(class="gender female fa fa-female" ng-class="{big:expectancyLife.female.expenctancy > expectancyLife.male.expenctancy}")
        span(data-ng-bind="expectancyLife.female.expenctancy")
        h4 Hombre
        span(class="gender male fa fa-male" ng-class="{big:expectancyLife.male.expenctancy > expectancyLife.female.expenctancy}")
        span(data-ng-bind="expectancyLife.male.expenctancy")